
  <div class="product-card">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="product-card-title">{{myProduct.title}}</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="{{myProduct.imageUrl}}">

      <mat-card-content class="product-card-content">
        <p  class="product-card-description" [innerHTML]="myProduct.description"></p>
      </mat-card-content>

      <mat-card-actions class="product-card-actions">
        <div *ngIf="myProduct.size && myProduct.size.length > 0">
          <mat-label class="product-card-label">Choisissez une taille : </mat-label>
          <select  class="product-card-select" (change)="auChangement($event)">
            <option value="" disabled selected>Taille</option>
            <option *ngFor="let item of myProduct.size" value={{item}}>{{item}}</option>
          </select>
        </div>
      </mat-card-actions>

      <mat-card-actions>
        <div class="price-likes">
          <b>{{myProduct.price | currency:'EUR'}}</b>
    
            
          <button mat-button (click)="onAddLike()">
              <mat-icon [ngStyle]="{'color': myProduct.isLiked ? 'red' : 'black'}">favorite</mat-icon>
           </button>
           

        </div>  
      </mat-card-actions>
      <span>date de production : {{myProduct.dateadd | date:'short'}}</span>
    </mat-card>
  </div> 





<!-- <div class="root">
    <h2>{{myProduct.title}}</h2>
    <img src={{myProduct.imageUrl}} width=100/>
    <p>{{myProduct.description}}</p>
    <div *ngIf="myProduct.size && myProduct.size.length > 0">
    
    <label>Choisissez une taille :</label>
      <select (change)="auChangement($event)">
        <option value="" disabled selected>Taille</option>
        <option *ngFor="let item of myProduct.size" value={{item}}>{{item}}</option>
      </select>



    </div>
    <div class="price-likes">
      <b>{{myProduct.price}} €</b>
      <p>
        <b>{{myProduct.likes}} </b>
        <button (click)="onAddLike()">{{myProduct.btnValue}}</button>
      </p>
    </div>  
</div> -->