.product-card {
    width: 600px;
    flex: 0 0 800px; /* Largeur fixe pour chaque carte */
    margin: 50px; /* Ajoute une marge autour de la card */
    padding: 15px;
    height: 800px; /* Hauteur fixe pour chaque carte */
    overflow: hidden;
    
    transition: transform 0.3s ease-in-out; /* Ajoute une transition fluide pour l'effet de zoom */
  }

  .product-card:hover {
    transform: scale(1.1); /* Applique le zoom lorsqu'on survole la card */
  }

  .product-card img {
    width: 100%;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    object-fit: contain;
    cursor: pointer; /* Change le curseur lorsque la souris est sur l'image */
  }


.product-card-content {
    padding: 16px;
    margin-top: 10px; 
}

  .product-card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limite le nombre de lignes à afficher */
    -webkit-box-orient: vertical;
    white-space: normal; /* Permet aux retours à la ligne de la description de se manifester */
    text-overflow: ellipsis;
    margin-top: 10px;
  }

  .product-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    text-align: center; /* Centre le texte horizontalement */
    display: flex;
    align-items: center; /* Centre le texte verticalement */
    height: 100%; /* Assure que le titre occupe toute la hauteur de mat-card-title */
  }

  .product-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .product-card-select {
    margin-left: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
  }
  
  /* Ajoutez un style pour le label si nécessaire */
  .product-card-label {
    font-weight: bold;
    margin-right: 8px;
  }