.product-card {
    width: 500px; 
    position: relative;
    margin: 50px; 
    padding: 15px;
    height: 800px; 
    overflow: hidden;
    transition: transform 0.3s ease-in-out; 
  }
  
    .product-card:hover {
      transform: scale(1.1); 
    }
  
    .product-card img {
      width: 100%;
      height: 500px; 
      object-fit: contain;
      cursor: pointer; 
    }
  
  
  .product-card-content {
      padding: 16px;
      margin-top: 10px; 
  }
  
    .product-card-description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; 
      -webkit-box-orient: vertical;
      white-space: normal; 
      text-overflow: ellipsis;
      margin-top: 10px;
    }
  
    .product-card-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 8px;
      color: #333;
      text-align: center; 
      display: flex;
      align-items: center; 
      height: 100%; 
    }
  
    .product-card-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
    }
    
    .product-card-select {
      margin-left: 8px;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      color: #333;
      font-size: 14px;
    }
    
  
    .product-card-label {
      font-weight: bold;
      margin-right: 8px;
    }

    .example-button-row {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px; 
      }